@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Oswald:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 75px 0;
    height: 120vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(bg\ -\ Copy.png);
    background-size: contain;
    background-repeat: repeat-y;
    overflow-y: scroll;

    color: #3b3632;
    margin-top: 75px;
}

.name {
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    font-weight: 700;

    text-align: center;
    color: #556868;

    text-shadow: -2px 2px 5px #8fb1b1;
}
.title {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
.headline {
    font-size: 30px;
    font-weight: 400;
    text-align: center;

    color: #5c4d47;
    margin: 0 150px 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}


.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;

    width: 100vw;
}


ul {
    background: #fff;
    margin: 40px 25px;
    padding: 15px 0;

    list-style: none;
    position: relative;

    border-radius: 15px;
    box-shadow: 0 0 10px -2px #1b1a1995;
}

    .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid #455353;
        padding: 25px 30px;
    }
        .item:last-child { border-bottom: none; }
        .BTWrap {
            align-self: flex-start;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .bullet{
                content: url(bullet.png);
                width: 20px;
                margin-right: 10px;
            }

        .wrap {
            max-width: 260px;
            margin-right: 20px;
        }
            .wrap span { font-size: 19px; }
            .wrap p { font-size: 13px; color: #7f8152; }
                .wrap p.duration { margin-top: 8px; font-size: 15px; }


        a { color: transparent; }
        .buttons { display: flex; }
            button {
                cursor: pointer;
                background-color: #dfe2bc;
                width: 120px;

                padding: 8px 23px;
                margin: 15px 5px;

                color: #3b3632;
                font-size: 11px;
                font-weight: bold;

                border: 1px solid #887a71;
                border-radius: 20px;
                transition: all .5s;
            }
                button:hover {
                    background-color: #b2b58e;
                }


.finished ul { background-color: #D9DBC5; }
    .finished .bullet { content: url(donebullet.png); }
    .finished .wrap { color: #9d8e83; }
        .finished .wrap p { color: #7f8152af; }
    .finished button { background-color: #bdc0a085; color: #3b363282; }
        .finished button:hover { background-color: #82856585; }

.small { font-size: 20px; }



@media (max-width: 1100px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    ul { width: 650px; }
/*     body {
        background-image: url(bg.png);
        background-size: cover;
        margin: 50px 0;
    } */
/* 
    .name { font-size: 34px; }
    .title { font-size: 18px; }
    .headline {
        font-size: 25px;
        margin: 0 50px 10px;
    }

        .wrap span { font-size: 17px; }
        .wrap p { font-size: 11px; }
            .wrap p.duration { margin-top: 3px; font-size: 13px; }

    ul { margin: 40px 25px; padding: 15px 0; }
        .item { padding: 25px 20px; align-items: center; }
            .BTWrap { margin: auto 0; }
                .bullet{ width: 17px; margin-right: 15px; }

            .buttons { flex-direction: column; }
                button {
                    margin: 5px 0;
                    padding: 10px 15px;
                    font-size: 10px;
                }

    .small { font-size: 17px; } */
}


@media (max-width: 600px) {
    body {
        background-image: url(bg.png);
        background-size: cover;
        margin: 50px 0;
    }

    .name { font-size: 34px; }
    .title { font-size: 18px; }
    .headline {
        font-size: 25px;
        margin: 0 50px 10px;
    }

    .wrapper { flex-direction: column; }
        .wrap span { font-size: 17px; }
        .wrap p { font-size: 11px; }
            .wrap p.duration { margin-top: 3px; font-size: 13px; }

    ul { margin: 40px 25px; padding: 15px 0; }
        .item { padding: 25px 20px; align-items: center; }
            .BTWrap { margin: auto 0; }
                .bullet{ width: 17px; margin-right: 15px; }

            .buttons { flex-direction: column; }
                button {
                    margin: 5px 0;
                    padding: 10px 15px;
                    font-size: 10px;
                }

    .small { font-size: 17px; }
}

